In [1]:
import influxdb_client, os, time
from influxdb_client import InfluxDBClient, Point, WritePrecision
from influxdb_client.client.write_api import SYNCHRONOUS
from datetime import datetime

import pandas as pd

from key_value.token import INFLUXDB_TOKEN as token

In [2]:
org = "boonsak.s@ku.th"
url = "https://europe-west1-1.gcp.cloud2.influxdata.com"

client = influxdb_client.InfluxDBClient(url=url, token=token, org=org)

In [9]:
query_api = client.query_api()
# |> range(start: -30d)

query = """from(bucket: "Flight_data")
 |> range(start: -30d, stop:-21d)
 |> filter(fn: (r) => r._measurement == "flight_id")

 |> pivot(rowKey:["_time"], columnKey: ["_field"], valueColumn: "_value")
 |> sort(columns: ["_time"], desc: false)
 """
tables = query_api.query_data_frame(query, org="boonsak.s@ku.th")
tables

,result,table,_time,_start,_stop,_measurement,altitude,groundspeed,heading,latitude,longitude
0,_result,0,2022-11-14 17:23:18+00:00,2022-11-06 05:24:59.967871+00:00,2022-11-15 05:24:59.967871+00:00,flight_id,10.0,180.0,209.0,13.889838,100.591895
1,_result,1,2022-11-14 17:23:19+00:00,2022-11-06 05:24:59.967871+00:00,2022-11-15 05:24:59.967871+00:00,flight_id,10.25,181.0,209.0,13.889081,100.591459
2,_result,2,2022-11-14 17:23:20+00:00,2022-11-06 05:24:59.967871+00:00,2022-11-15 05:24:59.967871+00:00,flight_id,10.5,182.0,209.0,13.888324,100.591022
3,_result,3,2022-11-14 17:23:21+00:00,2022-11-06 05:24:59.967871+00:00,2022-11-15 05:24:59.967871+00:00,flight_id,10.75,183.0,209.0,13.887567,100.590586
4,_result,4,2022-11-14 17:23:22+00:00,2022-11-06 05:24:59.967871+00:00,2022-11-15 05:24:59.967871+00:00,flight_id,11.0,184.0,209.0,13.886810,100.590150
...,...,...,...,...,...,...,...,...,...,...,...
256,_result,256,2022-11-14 17:27:22+00:00,2022-11-06 05:24:59.967871+00:00,2022-11-15 05:24:59.967871+00:00,flight_id,95.4,282.1333333333333,152.86666666666667,13.699118,100.438155
257,_result,257,2022-11-14 17:27:23+00:00,2022-11-06 05:24:59.967871+00:00,2022-11-15 05:24:59.967871+00:00,flight_id,95.8,282.1,152.4,13.697906,100.438736
258,_result,258,2022-11-14 17:27:24+00:00,2022-11-06 05:24:59.967871+00:00,2022-11-15 05:24:59.967871+00:00,flight_id,96.2,282.06666666666666,151.93333333333334,13.696694,100.439317
259,_result,259,2022-11-14 17:27:25+00:00,2022-11-06 05:24:59.967871+00:00,2022-11-15 05:24:59.967871+00:00,flight_id,96.6,282.03333333333336,151.46666666666667,13.695482,100.439899
260,_result,260,2022-11-14 17:27:26+00:00,2022-11-06 05:24:59.967871+00:00,2022-11-15 05:24:59.967871+00:00,flight_id,97.0,282.0,151.0,13.694270,100.440480

In [85]:
tables.drop(columns=['result','table','_start','_stop','_measurement'], inplace=True)
tables.sort_values(by='_time', inplace=True)
tables.reset_index(drop=True, inplace=True)
tables

,_time,altitude,groundspeed,heading,latitude,longitude
0,2022-11-14 17:23:06+00:00,7.0,168.0,209.0,13.898920,100.597130
1,2022-11-14 17:23:07+00:00,7.25,169.0,209.0,13.898163,100.596694
2,2022-11-14 17:23:08+00:00,7.5,170.0,209.0,13.897406,100.596257
3,2022-11-14 17:23:09+00:00,7.75,171.0,209.0,13.896649,100.595821
4,2022-11-14 17:23:10+00:00,8.0,172.0,209.0,13.895893,100.595385
...,...,...,...,...,...,...
256,2022-11-14 17:27:22+00:00,95.4,282.1333333333333,152.86666666666667,13.699118,100.438155
257,2022-11-14 17:27:23+00:00,95.8,282.1,152.4,13.697906,100.438736
258,2022-11-14 17:27:24+00:00,96.2,282.06666666666666,151.93333333333334,13.696694,100.439317
259,2022-11-14 17:27:25+00:00,96.6,282.03333333333336,151.46666666666667,13.695482,100.439899
260,2022-11-14 17:27:26+00:00,97.0,282.0,151.0,13.694270,100.440480

In [76]:
# tables._time.unique()
# tables[tables.groundspeed ==tables.groundspeed.min()]
# tables.groundspeed.min()
tables

,_time,altitude,groundspeed,heading,latitude,longitude
0,2022-11-14 17:23:18+00:00,10.0,180.0,209.0,13.889838,100.591895
1,2022-11-14 17:23:19+00:00,10.25,181.0,209.0,13.889081,100.591459
2,2022-11-14 17:23:20+00:00,10.5,182.0,209.0,13.888324,100.591022
3,2022-11-14 17:23:21+00:00,10.75,183.0,209.0,13.887567,100.590586
4,2022-11-14 17:23:22+00:00,11.0,184.0,209.0,13.886810,100.590150
...,...,...,...,...,...,...
256,2022-11-14 17:27:22+00:00,95.4,282.1333333333333,152.86666666666667,13.699118,100.438155
257,2022-11-14 17:27:23+00:00,95.8,282.1,152.4,13.697906,100.438736
258,2022-11-14 17:27:24+00:00,96.2,282.06666666666666,151.93333333333334,13.696694,100.439317
259,2022-11-14 17:27:25+00:00,96.6,282.03333333333336,151.46666666666667,13.695482,100.439899
260,2022-11-14 17:27:26+00:00,97.0,282.0,151.0,13.694270,100.440480

In [77]:
tables.sort_values(by='_time')

,_time,altitude,groundspeed,heading,latitude,longitude
180,2022-11-14 17:23:06+00:00,7.0,168.0,209.0,13.898920,100.597130
181,2022-11-14 17:23:07+00:00,7.25,169.0,209.0,13.898163,100.596694
182,2022-11-14 17:23:08+00:00,7.5,170.0,209.0,13.897406,100.596257
183,2022-11-14 17:23:09+00:00,7.75,171.0,209.0,13.896649,100.595821
209,2022-11-14 17:23:10+00:00,8.0,172.0,209.0,13.895893,100.595385
...,...,...,...,...,...,...
256,2022-11-14 17:27:22+00:00,95.4,282.1333333333333,152.86666666666667,13.699118,100.438155
257,2022-11-14 17:27:23+00:00,95.8,282.1,152.4,13.697906,100.438736
258,2022-11-14 17:27:24+00:00,96.2,282.06666666666666,151.93333333333334,13.696694,100.439317
259,2022-11-14 17:27:25+00:00,96.6,282.03333333333336,151.46666666666667,13.695482,100.439899
260,2022-11-14 17:27:26+00:00,97.0,282.0,151.0,13.694270,100.440480

In [68]:
df = pd.read_csv('../Preprocess/data/Sample_data3.csv')
# df.groundspeed.min()
df[df.groundspeed ==df.groundspeed.min()]

,Unnamed: 0,timestamp,altitude,groundspeed,heading,latitude,longitude,segment
0,0,2022-10-04 17:23:06,7.0,168.0,209.0,13.89892,100.59713,1

# write api

In [61]:
bucket="Flight_data"

write_api = client.write_api(write_options=SYNCHRONOUS)
points = []
test_time =[]

for index, row in df.iterrows():
  date_format = '%Y-%m-%d %H:%M:%S'
  dtObj = datetime.strptime(row.timestamp, date_format)
  dtObj = dtObj+ pd.DateOffset(months=1, days=10)
  test_time.append(dtObj)
  point = (
    Point("flight_id")
    .tag("altitude",row.altitude)
    .tag("groundspeed",row.groundspeed)
    .tag("heading",row.heading)
    .field("latitude",row.latitude)
    .field("longitude",row.longitude)
    # .field("coord", (row.longitude, row.latitude))
    .time(dtObj)
  )
  points.append(point)
  # print()
# print(points)
write_api.write(bucket=bucket, org="boonsak.s@ku.th", record=points, write_precision='s')
# time.sleep(1) # separate points by 1 second

In [ ]:
# date_format = '%Y-%m-%d %H:%M:%S'
# dtObj = datetime.strptime(row.timestamp, date_format)
# dtObj = dtObj+ pd.DateOffset(months=1, days=10)

Timestamp('2022-11-14 17:27:26')

In [62]:
test_time

[Timestamp('2022-11-14 17:23:06'),
 Timestamp('2022-11-14 17:23:07'),
 Timestamp('2022-11-14 17:23:08'),
 Timestamp('2022-11-14 17:23:09'),
 Timestamp('2022-11-14 17:23:10'),
 Timestamp('2022-11-14 17:23:11'),
 Timestamp('2022-11-14 17:23:12'),
 Timestamp('2022-11-14 17:23:13'),
 Timestamp('2022-11-14 17:23:14'),
 Timestamp('2022-11-14 17:23:15'),
 Timestamp('2022-11-14 17:23:16'),
 Timestamp('2022-11-14 17:23:17'),
 Timestamp('2022-11-14 17:23:18'),
 Timestamp('2022-11-14 17:23:19'),
 Timestamp('2022-11-14 17:23:20'),
 Timestamp('2022-11-14 17:23:21'),
 Timestamp('2022-11-14 17:23:22'),
 Timestamp('2022-11-14 17:23:23'),
 Timestamp('2022-11-14 17:23:24'),
 Timestamp('2022-11-14 17:23:25'),
 Timestamp('2022-11-14 17:23:26'),
 Timestamp('2022-11-14 17:23:27'),
 Timestamp('2022-11-14 17:23:28'),
 Timestamp('2022-11-14 17:23:29'),
 Timestamp('2022-11-14 17:23:30'),
 Timestamp('2022-11-14 17:23:31'),
 Timestamp('2022-11-14 17:23:32'),
 Timestamp('2022-11-14 17:23:33'),
 Timestamp('2022-11-14 17:23:34'),
 Timestamp('2022-11-14 17:23:35'),
 Timestamp('2022-11-14 17:23:36'),
 Timestamp('2022-11-14 17:23:37'),
 Timestamp('2022-11-14 17:23:38'),
 Timestamp('2022-11-14 17:23:39'),
 Timestamp('2022-11-14 17:23:40'),
 Timestamp('2022-11-14 17:23:41'),
 Timestamp('2022-11-14 17:23:42'),
 Timestamp('2022-11-14 17:23:43'),
 Timestamp('2022-11-14 17:23:44'),
 Timestamp('2022-11-14 17:23:45'),
 Timestamp('2022-11-14 17:23:46'),
 Timestamp('2022-11-14 17:23:47'),
 Timestamp('2022-11-14 17:23:48'),
 Timestamp('2022-11-14 17:23:49'),
 Timestamp('2022-11-14 17:23:50'),
 Timestamp('2022-11-14 17:23:51'),
 Timestamp('2022-11-14 17:23:52'),
 Timestamp('2022-11-14 17:23:53'),
 Timestamp('2022-11-14 17:23:54'),
 Timestamp('2022-11-14 17:23:55'),
 Timestamp('2022-11-14 17:23:56'),
 Timestamp('2022-11-14 17:23:57'),
 Timestamp('2022-11-14 17:23:58'),
 Timestamp('2022-11-14 17:23:59'),
 Timestamp('2022-11-14 17:24:00'),
 Timestamp('2022-11-14 17:24:01'),
 Timestamp('2022-11-14 17:24:02'),
 Timestamp('2022-11-14 17:24:03'),
 Timestamp('2022-11-14 17:24:04'),
 Timestamp('2022-11-14 17:24:05'),
 Timestamp('2022-11-14 17:24:06'),
 Timestamp('2022-11-14 17:24:07'),
 Timestamp('2022-11-14 17:24:08'),
 Timestamp('2022-11-14 17:24:09'),
 Timestamp('2022-11-14 17:24:10'),
 Timestamp('2022-11-14 17:24:11'),
 Timestamp('2022-11-14 17:24:12'),
 Timestamp('2022-11-14 17:24:13'),
 Timestamp('2022-11-14 17:24:14'),
 Timestamp('2022-11-14 17:24:15'),
 Timestamp('2022-11-14 17:24:16'),
 Timestamp('2022-11-14 17:24:17'),
 Timestamp('2022-11-14 17:24:18'),
 Timestamp('2022-11-14 17:24:19'),
 Timestamp('2022-11-14 17:24:20'),
 Timestamp('2022-11-14 17:24:21'),
 Timestamp('2022-11-14 17:24:22'),
 Timestamp('2022-11-14 17:24:23'),
 Timestamp('2022-11-14 17:24:24'),
 Timestamp('2022-11-14 17:24:25'),
 Timestamp('2022-11-14 17:24:26'),
 Timestamp('2022-11-14 17:24:27'),
 Timestamp('2022-11-14 17:24:28'),
 Timestamp('2022-11-14 17:24:29'),
 Timestamp('2022-11-14 17:24:30'),
 Timestamp('2022-11-14 17:24:31'),
 Timestamp('2022-11-14 17:24:32'),
 Timestamp('2022-11-14 17:24:33'),
 Timestamp('2022-11-14 17:24:34'),
 Timestamp('2022-11-14 17:24:35'),
 Timestamp('2022-11-14 17:24:36'),
 Timestamp('2022-11-14 17:24:37'),
 Timestamp('2022-11-14 17:24:38'),
 Timestamp('2022-11-14 17:24:39'),
 Timestamp('2022-11-14 17:24:40'),
 Timestamp('2022-11-14 17:24:41'),
 Timestamp('2022-11-14 17:24:42'),
 Timestamp('2022-11-14 17:24:43'),
 Timestamp('2022-11-14 17:24:44'),
 Timestamp('2022-11-14 17:24:45'),
 Timestamp('2022-11-14 17:24:46'),
 Timestamp('2022-11-14 17:24:47'),
 Timestamp('2022-11-14 17:24:48'),
 Timestamp('2022-11-14 17:24:49'),
 Timestamp('2022-11-14 17:24:50'),
 Timestamp('2022-11-14 17:24:51'),
 Timestamp('2022-11-14 17:24:52'),
 Timestamp('2022-11-14 17:24:53'),
 Timestamp('2022-11-14 17:24:54'),
 Timestamp('2022-11-14 17:24:55'),
 Timestamp('2022-11-14 17:24:56'),
 Timestamp('2022-11-14 17:24:57'),
 Timestamp('2022-11-14 17:24:58'),
 Timestamp('2022-11-14 17:24:59'),
 Timestamp('2022-11-14 17:25:00'),
 Timestamp('2022-11-14 17:25:01'),
 Timestamp('2022-11-14 17:25:02'),
 Timestamp('2022-11-14 17:25:03'),
 Timestamp('2022-11-14 17:25:04'),
 Timestamp('2022-11-14 17:25:05'),
 Timestamp('2022-11-14 17:25:06'),
 Timestamp('2022-11-14 17:25:07'),
 Timestamp('2022-11-14 17:25:08'),
 Timestamp('2022-11-14 17:25:09'),
 Timestamp('2022-11-14 17:25:10'),
 Timestamp('2022-11-14 17:25:11'),
 Timestamp('2022-11-14 17:25:12'),
 Timestamp('2022-11-14 17:25:13'),
 Timestamp('2022-11-14 17:25:14'),
 Timestamp('2022-11-14 17:25:15'),
 Timestamp('2022-11-14 17:25:16'),
 Timestamp('2022-11-14 17:25:17'),
 Timestamp('2022-11-14 17:25:18'),
 Timestamp('2022-11-14 17:25:19'),
 Timestamp('2022-11-14 17:25:20'),
 Timestamp('2022-11-14 17:25:21'),
 Timestamp('2022-11-14 17:25:22'),
 Timestamp('2022-11-14 17:25:23'),
 Timestamp('2022-11-14 17:25:24'),
 Timestamp('2022-11-14 17:25:25'),
 Timestamp('2022-11-14 17:25:26'),
 Timestamp('2022-11-14 17:25:27'),
 Timestamp('2022-11-14 17:25:28'),
 Timestamp('2022-11-14 17:25:29'),
 Timestamp('2022-11-14 17:25:30'),
 Timestamp('2022-11-14 17:25:31'),
 Timestamp('2022-11-14 17:25:32'),
 Timestamp('2022-11-14 17:25:33'),
 Timestamp('2022-11-14 17:25:34'),
 Timestamp('2022-11-14 17:25:35'),
 Timestamp('2022-11-14 17:25:36'),
 Timestamp('2022-11-14 17:25:37'),
 Timestamp('2022-11-14 17:25:38'),
 Timestamp('2022-11-14 17:25:39'),
 Timestamp('2022-11-14 17:25:40'),
 Timestamp('2022-11-14 17:25:41'),
 Timestamp('2022-11-14 17:25:42'),
 Timestamp('2022-11-14 17:25:43'),
 Timestamp('2022-11-14 17:25:44'),
 Timestamp('2022-11-14 17:25:45'),
 Timestamp('2022-11-14 17:25:46'),
 Timestamp('2022-11-14 17:25:47'),
 Timestamp('2022-11-14 17:25:48'),
 Timestamp('2022-11-14 17:25:49'),
 Timestamp('2022-11-14 17:25:50'),
 Timestamp('2022-11-14 17:25:51'),
 Timestamp('2022-11-14 17:25:52'),
 Timestamp('2022-11-14 17:25:53'),
 Timestamp('2022-11-14 17:25:54'),
 Timestamp('2022-11-14 17:25:55'),
 Timestamp('2022-11-14 17:25:56'),
 Timestamp('2022-11-14 17:25:57'),
 Timestamp('2022-11-14 17:25:58'),
 Timestamp('2022-11-14 17:25:59'),
 Timestamp('2022-11-14 17:26:00'),
 Timestamp('2022-11-14 17:26:01'),
 Timestamp('2022-11-14 17:26:02'),
 Timestamp('2022-11-14 17:26:03'),
 Timestamp('2022-11-14 17:26:04'),
 Timestamp('2022-11-14 17:26:05'),
 Timestamp('2022-11-14 17:26:06'),
 Timestamp('2022-11-14 17:26:07'),
 Timestamp('2022-11-14 17:26:08'),
 Timestamp('2022-11-14 17:26:09'),
 Timestamp('2022-11-14 17:26:10'),
 Timestamp('2022-11-14 17:26:11'),
 Timestamp('2022-11-14 17:26:12'),
 Timestamp('2022-11-14 17:26:13'),
 Timestamp('2022-11-14 17:26:14'),
 Timestamp('2022-11-14 17:26:15'),
 Timestamp('2022-11-14 17:26:16'),
 Timestamp('2022-11-14 17:26:17'),
 Timestamp('2022-11-14 17:26:18'),
 Timestamp('2022-11-14 17:26:19'),
 Timestamp('2022-11-14 17:26:20'),
 Timestamp('2022-11-14 17:26:21'),
 Timestamp('2022-11-14 17:26:22'),
 Timestamp('2022-11-14 17:26:23'),
 Timestamp('2022-11-14 17:26:24'),
 Timestamp('2022-11-14 17:26:25'),
 Timestamp('2022-11-14 17:26:26'),
 Timestamp('2022-11-14 17:26:27'),
 Timestamp('2022-11-14 17:26:28'),
 Timestamp('2022-11-14 17:26:29'),
 Timestamp('2022-11-14 17:26:30'),
 Timestamp('2022-11-14 17:26:31'),
 Timestamp('2022-11-14 17:26:32'),
 Timestamp('2022-11-14 17:26:33'),
 Timestamp('2022-11-14 17:26:34'),
 Timestamp('2022-11-14 17:26:35'),
 Timestamp('2022-11-14 17:26:36'),
 Timestamp('2022-11-14 17:26:37'),
 Timestamp('2022-11-14 17:26:38'),
 Timestamp('2022-11-14 17:26:39'),
 Timestamp('2022-11-14 17:26:40'),
 Timestamp('2022-11-14 17:26:41'),
 Timestamp('2022-11-14 17:26:42'),
 Timestamp('2022-11-14 17:26:43'),
 Timestamp('2022-11-14 17:26:44'),
 Timestamp('2022-11-14 17:26:45'),
 Timestamp('2022-11-14 17:26:46'),
 Timestamp('2022-11-14 17:26:47'),
 Timestamp('2022-11-14 17:26:48'),
 Timestamp('2022-11-14 17:26:49'),
 Timestamp('2022-11-14 17:26:50'),
 Timestamp('2022-11-14 17:26:51'),
 Timestamp('2022-11-14 17:26:52'),
 Timestamp('2022-11-14 17:26:53'),
 Timestamp('2022-11-14 17:26:54'),
 Timestamp('2022-11-14 17:26:55'),
 Timestamp('2022-11-14 17:26:56'),
 Timestamp('2022-11-14 17:26:57'),
 Timestamp('2022-11-14 17:26:58'),
 Timestamp('2022-11-14 17:26:59'),
 Timestamp('2022-11-14 17:27:00'),
 Timestamp('2022-11-14 17:27:01'),
 Timestamp('2022-11-14 17:27:02'),
 Timestamp('2022-11-14 17:27:03'),
 Timestamp('2022-11-14 17:27:04'),
 Timestamp('2022-11-14 17:27:05'),
 Timestamp('2022-11-14 17:27:06'),
 Timestamp('2022-11-14 17:27:07'),
 Timestamp('2022-11-14 17:27:08'),
 Timestamp('2022-11-14 17:27:09'),
 Timestamp('2022-11-14 17:27:10'),
 Timestamp('2022-11-14 17:27:11'),
 Timestamp('2022-11-14 17:27:12'),
 Timestamp('2022-11-14 17:27:13'),
 Timestamp('2022-11-14 17:27:14'),
 Timestamp('2022-11-14 17:27:15'),
 Timestamp('2022-11-14 17:27:16'),
 Timestamp('2022-11-14 17:27:17'),
 Timestamp('2022-11-14 17:27:18'),
 Timestamp('2022-11-14 17:27:19'),
 Timestamp('2022-11-14 17:27:20'),
 Timestamp('2022-11-14 17:27:21'),
 Timestamp('2022-11-14 17:27:22'),
 Timestamp('2022-11-14 17:27:23'),
 Timestamp('2022-11-14 17:27:24'),
 Timestamp('2022-11-14 17:27:25'),
 Timestamp('2022-11-14 17:27:26')]