In [2]:
import pandas as pd
import numpy as np
import scipy as sp
from scipy import integrate
import geopy.distance
import seaborn as sns

# data

In [3]:
npd = pd.read_csv('data/ANP2.2_NPD_data.csv',delimiter=';')
npd.head()

,NPD_ID,Noise Metric,Op Mode,Power Setting,L_200ft,L_400ft,L_630ft,L_1000ft,L_2000ft,L_4000ft,L_6300ft,L_10000ft,L_16000ft,L_25000ft
0,2CF650,EPNL,A,10000.0,106.2,101.1,97.2,92.5,84.2,75.0,68.0,61.4,53.4,43.3
1,2CF650,EPNL,A,25000.0,109.8,105.1,101.5,97.3,90.3,82.0,76.0,70.0,62.7,53.9
2,2CF650,EPNL,D,25000.0,109.8,105.1,101.5,97.3,90.3,82.0,76.0,70.0,62.7,53.9
3,2CF650,EPNL,D,40000.0,113.0,108.6,105.2,101.5,95.6,88.2,83.1,77.5,70.8,63.3
4,2CF650,LAmax,A,10000.0,99.2,91.9,86.7,81.0,72.1,63.0,56.7,49.6,41.6,33.1

In [4]:
df_sample_data = pd.read_csv('data/Sample_data1.csv')
df_sample_data.head()

,fa_flight_id,altitude,altitude_change,groundspeed,heading,latitude,longitude,timestamp,update_type
0,TLM116-1664732580-schedule-0836,7,C,168,209,13.89892,100.59713,2022-10-04T17:23:06Z,A
1,TLM116-1664732580-schedule-0836,11,C,184,209,13.88681,100.59015,2022-10-04T17:23:22Z,A
2,TLM116-1664732580-schedule-0836,17,C,183,209,13.87550,100.58374,2022-10-04T17:23:38Z,A
3,TLM116-1664732580-schedule-0836,21,C,198,247,13.86586,100.57333,2022-10-04T17:23:54Z,A
4,TLM116-1664732580-schedule-0836,24,C,220,259,13.86200,100.55725,2022-10-04T17:24:10Z,A

In [5]:
df_sample_data['timestamp'] = pd.to_datetime(df_sample_data.timestamp)
df_sample_data.head()

,fa_flight_id,altitude,altitude_change,groundspeed,heading,latitude,longitude,timestamp,update_type
0,TLM116-1664732580-schedule-0836,7,C,168,209,13.89892,100.59713,2022-10-04 17:23:06+00:00,A
1,TLM116-1664732580-schedule-0836,11,C,184,209,13.88681,100.59015,2022-10-04 17:23:22+00:00,A
2,TLM116-1664732580-schedule-0836,17,C,183,209,13.87550,100.58374,2022-10-04 17:23:38+00:00,A
3,TLM116-1664732580-schedule-0836,21,C,198,247,13.86586,100.57333,2022-10-04 17:23:54+00:00,A
4,TLM116-1664732580-schedule-0836,24,C,220,259,13.86200,100.55725,2022-10-04 17:24:10+00:00,A

In [6]:
# ------------- for export ------------- #
df_sample_data['new_date'] = [d.date() for d in df_sample_data['timestamp']]
df_sample_data['new_time'] = [d.time() for d in df_sample_data['timestamp']]
df_sample_data

,fa_flight_id,altitude,altitude_change,groundspeed,heading,latitude,longitude,timestamp,update_type,new_date,new_time
0,TLM116-1664732580-schedule-0836,7,C,168,209,13.89892,100.59713,2022-10-04 17:23:06+00:00,A,2022-10-04,17:23:06
1,TLM116-1664732580-schedule-0836,11,C,184,209,13.88681,100.59015,2022-10-04 17:23:22+00:00,A,2022-10-04,17:23:22
2,TLM116-1664732580-schedule-0836,17,C,183,209,13.87550,100.58374,2022-10-04 17:23:38+00:00,A,2022-10-04,17:23:38
3,TLM116-1664732580-schedule-0836,21,C,198,247,13.86586,100.57333,2022-10-04 17:23:54+00:00,A,2022-10-04,17:23:54
4,TLM116-1664732580-schedule-0836,24,C,220,259,13.86200,100.55725,2022-10-04 17:24:10+00:00,A,2022-10-04,17:24:10
...,...,...,...,...,...,...,...,...,...,...,...
302,TLM116-1664732580-schedule-0836,15,D,148,248,-6.10491,106.73810,2022-10-04 20:23:56+00:00,A,2022-10-04,20:23:56
303,TLM116-1664732580-schedule-0836,12,D,147,248,-6.10982,106.72575,2022-10-04 20:24:15+00:00,X,2022-10-04,20:24:15
304,TLM116-1664732580-schedule-0836,4,D,144,248,-6.12566,106.68590,2022-10-04 20:25:19+00:00,A,2022-10-04,20:25:19
305,TLM116-1664732580-schedule-0836,2,D,149,248,-6.12973,106.67585,2022-10-04 20:25:37+00:00,A,2022-10-04,20:25:37
306,TLM116-1664732580-schedule-0836,2,D,133,248,-6.13431,106.66440,2022-10-04 20:25:54+00:00,A,2022-10-04,20:25:54

In [32]:
# ------------- for export ------------- #
df_pamika = df_sample_data[['fa_flight_id','new_date','new_time','longitude','latitude','altitude','groundspeed']].copy()
df_pamika = df_pamika.rename(columns={'fa_flight_id':'name',
                              'new_date':'date',
                              'new_time':'time',
                              'longitude':'long',
                              'latitude':'lat',
                              'altitude':'altitude_ft',
                              'groundspeed':'speed'})
df_pamika['aircraft'] = 'AA'
df_pamika['altitude_ft'] = df_pamika['altitude_ft']*100
# df_pamika.to_csv('./data/pamika.csv')

In [31]:
col_list = df_pamika[['long','lat','altitude_ft']].values.tolist()
col_list

[[100.59713, 13.89892, 700.0],
 [100.59015, 13.88681, 1100.0],
 [100.58374, 13.8755, 1700.0],
 [100.57333, 13.86586, 2100.0],
 [100.55725, 13.862, 2400.0],
 [100.53257, 13.85646, 2900.0],
 [100.51025, 13.84999, 3300.0],
 [100.48479, 13.84021, 4100.0],
 [100.46471, 13.8251, 4900.0],
 [100.44882, 13.81019, 5600.0],
 [100.43393, 13.79626, 6300.0],
 [100.42058, 13.77397, 7200.0],
 [100.41995, 13.74925, 7900.0],
 [100.42304, 13.73063, 8500.0],
 [100.44048, 13.69427, 9700.0],
 [100.46168, 13.65623, 10700.0],
 [100.48233, 13.61861, 11100.0],
 [100.50606, 13.57507, 12000.0],
 [100.52945, 13.53232, 13000.0],
 [100.55398, 13.48741, 14000.0],
 [100.5794, 13.44098, 15300.0],
 [100.6055, 13.39311, 16400.0],
 [100.63183, 13.34486, 17500.0],
 [100.66016, 13.29276, 18600.0],
 [100.68753, 13.24253, 19500.0],
 [100.71333, 13.19522, 20500.0],
 [100.74159, 13.14337, 21400.0],
 [100.7693, 13.09254, 22200.0],
 [100.79752, 13.04068, 23000.0],
 [100.82573, 12.98877, 23700.0],
 [100.85549, 12.93388, 24500.0],
 [100.88331, 12.88259, 25100.0],
 [100.91285, 12.82807, 25700.0],
 [100.94224, 12.77403, 26300.0],
 [100.97331, 12.71681, 27000.0],
 [100.994, 12.67136, 27500.0],
 [101.01288, 12.58959, 28500.0],
 [101.0245, 12.52126, 29000.0],
 [101.03562, 12.4557, 29600.0],
 [101.04695, 12.38927, 30200.0],
 [101.05904, 12.31879, 30900.0],
 [101.07043, 12.25218, 31500.0],
 [101.08165, 12.18686, 32200.0],
 [101.09236, 12.12479, 33100.0],
 [101.10284, 12.06359, 33900.0],
 [101.11335, 12.00173, 34300.0],
 [101.12366, 11.94058, 34800.0],
 [101.13408, 11.87906, 35000.0],
 [101.14452, 11.8178, 35000.0],
 [101.15496, 11.75656, 35000.0],
 [101.16552, 11.69449, 35000.0],
 [101.18355, 11.58871, 35000.0],
 [101.19417, 11.52621, 35000.0],
 [101.20485, 11.46367, 35000.0],
 [101.21531, 11.40232, 35000.0],
 [101.22604, 11.3389, 35000.0],
 [101.23655, 11.27664, 35000.0],
 [101.24696, 11.21485, 35000.0],
 [101.25734, 11.15309, 35000.0],
 [101.26814, 11.08974, 35000.0],
 [101.27853, 11.02846, 35000.0],
 [101.28927, 10.9651, 35000.0],
 [101.30053, 10.89821, 35000.0],
 [101.31052, 10.83815, 35000.0],
 [101.33139, 10.71549, 35000.0],
 [101.51334, 9.63487, 35000.0],
 [101.53257, 9.52094, 35000.0],
 [101.54317, 9.45783, 35000.0],
 [101.55364, 9.39513, 35000.0],
 [101.56381, 9.33357, 35000.0],
 [101.78023, 8.72964, 35000.0],
 [102.01066, 8.18925, 35000.0],
 [102.02905, 8.08772, 35000.0],
 [102.04395, 8.01036, 35000.0],
 [102.05698, 7.94302, 35000.0],
 [102.06905, 7.87948, 35000.0],
 [102.08056, 7.81719, 35000.0],
 [102.0918, 7.75356, 35000.0],
 [102.10456, 7.68311, 35000.0],
 [102.11759, 7.61339, 35000.0],
 [102.12919, 7.55091, 35000.0],
 [102.1406, 7.48942, 35000.0],
 [102.15315, 7.42122, 35000.0],
 [102.16424, 7.35997, 35000.0],
 [102.17578, 7.29634, 35000.0],
 [102.187, 7.23427, 35000.0],
 [102.19906, 7.16968, 35000.0],
 [102.21097, 7.10708, 35000.0],
 [102.22276, 7.04425, 35000.0],
 [102.2347, 6.98144, 35000.0],
 [102.24221, 6.93581, 35000.0],
 [102.24658, 6.87064, 35000.0],
 [102.2485, 6.79308, 35000.0],
 [102.24966, 6.71992, 35000.0],
 [102.25066, 6.65497, 35000.0],
 [102.25127, 6.58975, 35000.0],
 [102.25179, 6.5263, 35000.0],
 [102.25106, 6.4623, 35000.0],
 [102.25017, 6.39693, 35000.0],
 [102.24933, 6.33185, 35000.0],
 [102.24859, 6.26669, 35000.0],
 [102.24799, 6.20187, 35000.0],
 [102.24739, 6.13824, 35000.0],
 [102.24682, 6.07297, 35000.0],
 [102.2463, 6.00859, 35000.0],
 [102.24568, 5.94309, 35000.0],
 [102.24505, 5.8781, 35000.0],
 [102.24436, 5.81451, 35000.0],
 [102.24799, 5.74956, 35000.0],
 [102.27638, 5.66386, 35000.0],
 [102.29934, 5.60652, 35000.0],
 [102.33057, 5.52882, 35000.0],
 [102.35515, 5.46735, 35000.0],
 [102.37752, 5.411, 35000.0],
 [102.40156, 5.35075, 35000.0],
 [102.42497, 5.2921, 35000.0],
 [102.44849, 5.23338, 35000.0],
 [102.4746, 5.16814, 35000.0],
 [102.50063, 5.10292, 35000.0],
 [102.52423, 5.04359, 35000.0],
 [102.5482, 4.98354, 35000.0],
 [102.57241, 4.92279, 35000.0],
 [102.59596, 4.86365, 35000.0],
 [102.61969, 4.80414, 35000.0],
 [102.64327, 4.74507, 35000.0],
 [102.66631, 4.68723, 35000.0],
 [102.69589, 4.61305, 35000.0],
 [102.72122, 4.5496, 35000.0],
 [102.74518, 4.48936, 35000.0],
 [102.76858, 4.43075, 35000.0],
 [102.79249, 4.37065, 35000.0],
 [102.81891, 4.30441, 35000.0],
 [102.8426, 4.2448, 35000.0],
 [102.86546, 4.18712, 35000.0],
 [102.88886, 4.12835, 35000.0],
 [102.91159, 4.07117, 35000.0],
 [102.93872, 4.00293, 35000.0],
 [102.96496, 3.93725, 35000.0],
 [102.98835, 3.8785, 35000.0],
 [103.01738, 3.82161, 35000.0],
 [103.06464, 3.75178, 35000.0],
 [103.09997, 3.6996, 35000.0],
 [103.13524, 3.64737, 35000.0],
 [103.17019, 3.5955, 35000.0],
 [103.20509, 3.5436, 35000.0],
 [103.2407, 3.49067, 35000.0],
 [103.27631, 3.43774, 35000.0],
 [103.3115, 3.38551, 35000.0],
 [103.3469, 3.33289, 35000.0],
 [103.38307, 3.27914, 35000.0],
 [103.42042, 3.2236, 35000.0],
 [103.45592, 3.17093, 35000.0],
 [103.49298, 3.11581, 35000.0],
 [103.52881, 3.06267, 35000.0],
 [103.56402, 3.01021, 35000.0],
 [103.59893, 2.95821, 35000.0],
 [103.63385, 2.90556, 35000.0],
 [103.67263, 2.82568, 35000.0],
 [103.70724, 2.74816, 35000.0],
 [103.73258, 2.69193, 35000.0],
 [103.75847, 2.63553, 35000.0],
 [103.78435, 2.57913, 35000.0],
 [103.81005, 2.52299, 35000.0],
 [103.836, 2.46643, 35000.0],
 [103.86214, 2.40674, 35000.0],
 [103.8728, 2.37259, 35000.0],
 [103.8836, 2.31345, 35000.0],
 [103.89361, 2.24803, 35000.0],
 [103.90296, 2.18716, 35000.0],
 [103.91414, 2.11501, 35000.0],
 [103.92384, 2.05281, 35000.0],
 [103.93318, 1.99342, 35000.0],
 [103.94291, 1.93176, 35000.0],
 [103.95338, 1.8658, 35000.0],
 [103.96325, 1.80208, 35000.0],
 [103.97261, 1.74083, 35000.0],
 [103.98238, 1.67615, 35000.0],
 [103.99188, 1.63307, 35000.0],
 [104.01524, 1.573, 35000.0],
 [104.04183, 1.51543, 35000.0],
 [104.06837, 1.45797, 35000.0],
 [104.09428, 1.40164, 35000.0],
 [104.12092, 1.3434, 35000.0],
 [104.14667, 1.28709, 35000.0],
 [104.17315, 1.22919, 35100.0],
 [104.19926, 1.17223, 35400.0],
 [104.22613, 1.11346, 35700.0],
 [104.25197, 1.05711, 36000.0],
 [104.27827, 0.99971, 36300.0],
 [104.30363, 0.94454, 36600.0],
 [104.32949, 0.88826, 36900.0],
 [104.35601, 0.83054, 37000.0],
 [104.38323, 0.77114, 37000.0],
 [104.40843, 0.71621, 37000.0],
 [104.43641, 0.65508, 37000.0],
 [104.4649, 0.59271, 37000.0],
 [104.49097, 0.5359, 37000.0],
 [104.51741, 0.47827, 37000.0],
 [104.5439, 0.42059, 37000.0],
 [104.57011, 0.36351, 37000.0],
 [104.59605, 0.30673, 37000.0],
 [104.62206, 0.24989, 37000.0],
 [104.64847, 0.19226, 37000.0],
 [104.6748, 0.13491, 37000.0],
 [104.70719, 0.06438, 37000.0],
 [104.73394, 0.00596, 37000.0],
 [104.76042, -0.05181, 37000.0],
 [104.78704, -0.11005, 37000.0],
 [104.81353, -0.16782, 37000.0],
 [104.83992, -0.22545, 37000.0],
 [104.86692, -0.28476, 37000.0],
 [104.89062, -0.34639, 37000.0],
 [104.9132, -0.40535, 37000.0],
 [104.94126, -0.47874, 37000.0],
 [104.96454, -0.53957, 37000.0],
 [104.98717, -0.59857, 37000.0],
 [105.00974, -0.65753, 37000.0],
 [105.03232, -0.71645, 37000.0],
 [105.05485, -0.77536, 37000.0],
 [105.07878, -0.83785, 37000.0],
 [105.10089, -0.89571, 37000.0],
 [105.12415, -0.9567, 37000.0],
 [105.14661, -1.01537, 37000.0],
 [105.16919, -1.07433, 37000.0],
 [105.19191, -1.13355, 37000.0],
 [105.21467, -1.19284, 37000.0],
 [105.23706, -1.25125, 37000.0],
 [105.27298, -1.34508, 37000.0],
 [105.29707, -1.40817, 37000.0],
 [105.34255, -1.52691, 37000.0],
 [105.36514, -1.58585, 37000.0],
 [105.38863, -1.64739, 37000.0],
 [105.51754, -1.98354, 37000.0],
 [105.54575, -2.05737, 37000.0],
 [105.91966, -3.03223, 37000.0],
 [105.94908, -3.10876, 37000.0],
 [105.96565, -3.187, 37000.0],
 [105.9593, -3.31759, 37000.0],
 [105.95466, -3.40077, 37000.0],
 [105.95029, -3.47768, 37000.0],
 [105.94467, -3.57763, 37000.0],
 [105.9405, -3.65095, 37000.0],
 [105.9406, -3.71709, 37000.0],
 [105.94599, -3.7873, 37000.0],
 [105.95513, -3.85145, 37000.0],
 [105.96556, -3.92381, 37000.0],
 [105.97314, -3.96735, 37000.0],
 [105.9933, -4.03147, 37000.0],
 [106.01366, -4.09567, 36500.0],
 [106.0325, -4.1559, 35700.0],
 [106.05174, -4.21773, 34300.0],
 [106.07091, -4.27843, 33100.0],
 [106.0899, -4.33974, 32100.0],
 [106.10828, -4.39984, 31000.0],
 [106.12712, -4.4591, 30000.0],
 [106.14545, -4.51771, 29300.0],
 [106.16429, -4.57462, 28700.0],
 [106.18551, -4.63972, 28100.0],
 [106.20545, -4.70392, 27600.0],
 [106.22266, -4.75946, 27100.0],
 [106.23966, -4.81448, 26600.0],
 [106.25726, -4.87332, 25700.0],
 [106.27279, -4.92872, 24600.0],
 [106.28842, -4.9829, 23800.0],
 [106.30455, -5.0414, 22900.0],
 [106.31907, -5.09409, 22000.0],
 [106.3335, -5.14668, 21100.0],
 [106.34785, -5.19812, 20200.0],
 [106.36479, -5.25618, 19300.0],
 [106.37824, -5.30434, 18400.0],
 [106.39174, -5.35194, 17300.0],
 [106.40496, -5.39871, 16400.0],
 [106.41483, -5.42972, 15800.0],
 [106.4288, -5.45229, 15300.0],
 [106.45956, -5.48637, 14400.0],
 [106.49225, -5.52287, 13300.0],
 [106.52372, -5.55844, 12400.0],
 [106.55593, -5.59506, 11500.0],
 [106.58526, -5.62848, 11200.0],
 [106.61199, -5.65898, 10800.0],
 [106.63799, -5.68826, 10300.0],
 [106.66337, -5.71703, 9500.0],
 [106.68904, -5.74645, 8800.0],
 [106.71385, -5.77467, 8200.0],
 [106.73883, -5.80289, 7600.0],
 [106.76341, -5.83076, 6900.0],
 [106.78776, -5.85846, 6300.0],
 [106.7994, -5.87173, 6200.0],
 [106.81243, -5.88652, 6000.0],
 [106.83418, -5.91134, 5500.0],
 [106.85412, -5.93522, 5100.0],
 [106.87405, -5.95999, 4300.0],
 [106.88367, -5.97605, 4000.0],
 [106.8849, -5.99327, 3700.0],
 [106.87888, -6.01041, 3500.0],
 [106.86856, -6.03494, 3200.0],
 [106.86266, -6.04926, 3100.0],
 [106.85247, -6.05928, 3100.0],
 [106.82788, -6.06902, 3200.0],
 [106.80373, -6.07879, 2800.0],
 [106.77953, -6.08833, 2300.0],
 [106.7578, -6.09704, 1900.0],
 [106.7381, -6.10491, 1500.0],
 [106.72575, -6.10982, 1200.0],
 [106.6859, -6.12566, 400.0],
 [106.67585, -6.12973, 200.0],
 [106.6644, -6.13431, 200.0]]

In [9]:
df_departure_step = pd.read_csv('data/ANP2.2_Default_departure_procedural_steps.csv',delimiter=';')
df_departure_step = df_departure_step[df_departure_step.ACFT_ID == "737800"]
df_departure_step = df_departure_step[df_departure_step['Stage Length'] == "1"]
df_departure_step = df_departure_step[df_departure_step['Profile_ID'] == "DEFAULT"]
df_departure_step = df_departure_step.reset_index(drop=True)
df_departure_step

,ACFT_ID,Profile_ID,Stage Length,Step Number,Step Type,Thrust Rating,Flap_ID,End Point Altitude (ft),Rate Of Climb (ft/min),End Point CAS (kt),Accel Percentage (%)
0,737800,DEFAULT,1,1,Takeoff,MaxTakeoff,T_05,NaN,NaN,NaN,NaN
1,737800,DEFAULT,1,2,Climb,MaxTakeoff,T_05,1000.0,NaN,NaN,NaN
2,737800,DEFAULT,1,3,Accelerate,MaxTakeoff,T_05,NaN,1885.7,181.7,NaN
3,737800,DEFAULT,1,4,Accelerate,MaxTakeoff,T_01,NaN,2112.0,204.8,NaN
4,737800,DEFAULT,1,5,Climb,MaxTakeoff,T_00,2040.0,NaN,NaN,NaN
5,737800,DEFAULT,1,6,Climb,MaxClimb,T_00,3000.0,NaN,NaN,NaN
6,737800,DEFAULT,1,7,Accelerate,MaxClimb,T_00,NaN,1891.3,250.0,NaN
7,737800,DEFAULT,1,8,Climb,MaxClimb,T_00,5500.0,NaN,NaN,NaN
8,737800,DEFAULT,1,9,Climb,MaxClimb,T_00,7500.0,NaN,NaN,NaN
9,737800,DEFAULT,1,10,Climb,MaxClimb,T_00,10000.0,NaN,NaN,NaN

In [10]:
df_approach_step = pd.read_csv('data/Default_approach_procedural_steps.csv',delimiter=';')
df_approach_step = df_approach_step[df_approach_step.ACFT_ID == "737800"]
df_approach_step = df_approach_step[df_approach_step['Profile_ID'] == "DEFAULT"]
df_approach_step = df_approach_step.reset_index(drop=True)
df_approach_step

,ACFT_ID,Profile_ID,Step Number,Step Type,Flap_ID,Start Altitude(ft),Start CAS (kt),Descent Angle (deg),Touchdown Roll (ft),Distance (ft),Start Thrust
0,737800,DEFAULT,1,Descend-Idle,A_00,6000.0,248.9,3.0,NaN,NaN,NaN
1,737800,DEFAULT,2,Level-Idle,A_00,3000.0,249.5,NaN,NaN,25437.0,NaN
2,737800,DEFAULT,3,Level-Idle,A_01,3000.0,187.2,NaN,NaN,3671.0,NaN
3,737800,DEFAULT,4,Level-Idle,A_05,3000.0,174.7,NaN,NaN,5209.0,NaN
4,737800,DEFAULT,5,Descend-Idle,A_15,3000.0,151.4,3.0,NaN,NaN,NaN
5,737800,DEFAULT,6,Descend,A_30,2817.0,139.1,3.0,NaN,NaN,NaN
6,737800,DEFAULT,7,Land,A_30,NaN,NaN,NaN,393.8,NaN,NaN
7,737800,DEFAULT,8,Decelerate,A_30,NaN,139.0,NaN,NaN,3837.5,40.0
8,737800,DEFAULT,9,Decelerate,A_30,NaN,30.0,NaN,NaN,0.0,10.0

In [11]:
df_fix_point = pd.read_csv('data/ANP2.2_Default_fixed_point_profiles.csv',delimiter=';')
df_fix_point = df_fix_point[df_fix_point.ACFT_ID == "727200"]
df_fix_point = df_fix_point[df_fix_point['Stage Length'] == 1]
df_fix_point = df_fix_point.reset_index(drop=True)

df_fix_point

,ACFT_ID,Op Type,Profile_ID,Stage Length,Point Number,Distance (ft),Altitude AFE (ft),TAS (kt),Power Setting
0,727200,A,DEFAULT,1,1,-114487.0,6000.0,250.0,809.0
1,727200,A,DEFAULT,1,2,-57243.0,3000.0,142.0,4490.0
2,727200,A,DEFAULT,1,3,-28622.0,1500.0,142.0,4490.0
3,727200,A,DEFAULT,1,4,-19081.0,1000.0,142.0,4490.0
4,727200,A,DEFAULT,1,5,0.0,0.0,142.0,4490.0
5,727200,A,DEFAULT,1,6,406.0,0.0,142.0,4758.0
6,727200,A,DEFAULT,1,7,4060.0,0.0,30.0,1190.0
7,727200,D,DEFAULT,1,1,0.0,0.0,35.0,11895.0
8,727200,D,DEFAULT,1,2,5968.0,0.0,153.0,11895.0
9,727200,D,DEFAULT,1,3,13346.0,1000.0,153.0,11895.0
10,727200,D,DEFAULT,1,4,34849.0,2886.0,210.0,11895.0
11,727200,D,DEFAULT,1,5,35849.0,3011.0,210.0,10712.0
12,727200,D,DEFAULT,1,6,50495.0,3893.0,250.0,10712.0
13,727200,D,DEFAULT,1,7,66155.0,5511.0,250.0,10712.0
14,727200,D,DEFAULT,1,8,87813.0,7511.0,250.0,10712.0
15,727200,D,DEFAULT,1,9,119224.0,10011.0,250.0,10712.0

# create segment DF

In [12]:
# Create empty columns
df_sample_data_initial = pd.DataFrame(columns=['fa_flight_id',
                                               'altitude',
                                               'altitude_change',
                                               'groundspeed',
                                               'heading',
                                               'latitude',
                                               'longitude',
                                               'timestamp',
                                               'update_type'])
df_sample_data_airborne  = df_sample_data_initial.copy()
df_sample_data_reverse_final_approach  = df_sample_data_initial.copy()

# initial

In [13]:
# intitial
for index,row in df_sample_data.iterrows():
    if ((row['altitude'] <= df_departure_step['End Point Altitude (ft)']/100).iloc[-1]):
        df_sample_data_initial = df_sample_data_initial.append(row)
    else:
        break
    
df_sample_data_initial2 = df_sample_data_initial

In [14]:
nidx =np.arange(df_sample_data_initial2['timestamp'][0], df_sample_data_initial2['timestamp'].iloc[-1], 8000000 )
nidx = pd.to_datetime(nidx)

C:\Users\Nopnpr\AppData\Local\Temp\ipykernel_19328\1622447894.py:1: DeprecationWarning: parsing timezone aware datetimes is deprecated; this will raise an error in the future
  nidx =np.arange(df_sample_data_initial2['timestamp'][0], df_sample_data_initial2['timestamp'].iloc[-1], 8000000 )

In [15]:
df_sample_data_initial2['timestamp'] = df_sample_data_initial2['timestamp'].round('S').dt.tz_localize(None)
df_sample_data_initial2.set_index('timestamp', inplace=True)
df_sample_data_initial2.index.union(nidx)

DatetimeIndex(['2022-10-04 17:23:06', '2022-10-04 17:23:14',
               '2022-10-04 17:23:22', '2022-10-04 17:23:30',
               '2022-10-04 17:23:38', '2022-10-04 17:23:46',
               '2022-10-04 17:23:54', '2022-10-04 17:24:02',
               '2022-10-04 17:24:10', '2022-10-04 17:24:18',
               '2022-10-04 17:24:26', '2022-10-04 17:24:33',
               '2022-10-04 17:24:34', '2022-10-04 17:24:42',
               '2022-10-04 17:24:50', '2022-10-04 17:24:51',
               '2022-10-04 17:24:58', '2022-10-04 17:25:06',
               '2022-10-04 17:25:12', '2022-10-04 17:25:14',
               '2022-10-04 17:25:22', '2022-10-04 17:25:30',
               '2022-10-04 17:25:38', '2022-10-04 17:25:46',
               '2022-10-04 17:25:54', '2022-10-04 17:26:02',
               '2022-10-04 17:26:10', '2022-10-04 17:26:18',
               '2022-10-04 17:26:22', '2022-10-04 17:26:26',
               '2022-10-04 17:26:34', '2022-10-04 17:26:40',
               '2022-10-04 17:26:42', '2022-10-04 17:26:50',
               '2022-10-04 17:26:56', '2022-10-04 17:26:58',
               '2022-10-04 17:27:06', '2022-10-04 17:27:14',
               '2022-10-04 17:27:22', '2022-10-04 17:27:26'],
              dtype='datetime64[ns]', freq=None)

In [16]:
res = df_sample_data_initial2.reindex(df_sample_data_initial2.index.union(nidx))
res = res[['altitude', 'groundspeed', 'heading', 'latitude', 'longitude']]

In [17]:
res['altitude'] = pd.to_numeric(res['altitude'])
res['groundspeed'] = pd.to_numeric(res['groundspeed'])
res['heading'] = pd.to_numeric(res['heading'])

In [18]:
res = res.interpolate(method='time',limit_direction='both',limit=10)

In [19]:
i_departure = 1
res["segment"] =0

for index, row in res.iterrows():
    for i_departure in range(i_departure ,len(df_departure_step)):
        if row.altitude *100 <= df_departure_step.loc[i_departure]['End Point Altitude (ft)']:
            break
        elif row.groundspeed <= df_departure_step.loc[i_departure]['End Point CAS (kt)']:
            break
        
    res.loc[index,'segment']= i_departure
    
res

,altitude,groundspeed,heading,latitude,longitude,segment
2022-10-04 17:23:06,7.000000,168.000000,209.000000,13.898920,100.597130,1
2022-10-04 17:23:14,9.000000,176.000000,209.000000,13.892865,100.593640,1
2022-10-04 17:23:22,11.000000,184.000000,209.000000,13.886810,100.590150,3
2022-10-04 17:23:30,14.000000,183.500000,209.000000,13.881155,100.586945,3
2022-10-04 17:23:38,17.000000,183.000000,209.000000,13.875500,100.583740,3
2022-10-04 17:23:46,19.000000,190.500000,228.000000,13.870680,100.578535,3
2022-10-04 17:23:54,21.000000,198.000000,247.000000,13.865860,100.573330,3
2022-10-04 17:24:02,22.500000,209.000000,253.000000,13.863930,100.565290,5
2022-10-04 17:24:10,24.000000,220.000000,259.000000,13.862000,100.557250,5
2022-10-04 17:24:18,25.739130,231.130435,257.608696,13.860073,100.548666,5
2022-10-04 17:24:26,27.478261,242.260870,256.217391,13.858146,100.540081,5
2022-10-04 17:24:33,29.000000,252.000000,255.000000,13.856460,100.532570,5
2022-10-04 17:24:34,29.222222,253.222222,254.888889,13.856101,100.531330,5
2022-10-04 17:24:42,31.000000,263.000000,254.000000,13.853225,100.521410,7
2022-10-04 17:24:50,32.777778,272.777778,253.111111,13.850349,100.511490,7
2022-10-04 17:24:51,33.000000,274.000000,253.000000,13.849990,100.510250,7
2022-10-04 17:24:58,35.666667,277.000000,249.333333,13.846730,100.501763,7
2022-10-04 17:25:06,38.714286,280.428571,245.142857,13.843004,100.492064,7
2022-10-04 17:25:12,41.000000,283.000000,242.000000,13.840210,100.484790,7
2022-10-04 17:25:14,41.888889,283.222222,240.222222,13.838531,100.482559,7
2022-10-04 17:25:22,45.444444,284.111111,233.111111,13.831816,100.473634,7
2022-10-04 17:25:30,49.000000,285.000000,226.000000,13.825100,100.464710,7
2022-10-04 17:25:38,52.500000,286.500000,226.000000,13.817645,100.456765,7
2022-10-04 17:25:46,56.000000,288.000000,226.000000,13.810190,100.448820,8
2022-10-04 17:25:54,59.500000,288.500000,225.500000,13.803225,100.441375,8
2022-10-04 17:26:02,63.000000,289.000000,225.000000,13.796260,100.433930,8
2022-10-04 17:26:10,66.600000,287.400000,213.400000,13.787344,100.428590,8
2022-10-04 17:26:18,70.200000,285.800000,201.800000,13.778428,100.423250,8
2022-10-04 17:26:22,72.000000,285.000000,196.000000,13.773970,100.420580,8
2022-10-04 17:26:26,73.555556,284.111111,191.111111,13.768477,100.420440,8
2022-10-04 17:26:34,76.666667,282.333333,181.333333,13.757490,100.420160,9
2022-10-04 17:26:40,79.000000,281.000000,174.000000,13.749250,100.419950,9
2022-10-04 17:26:42,79.750000,281.250000,172.875000,13.746923,100.420336,9
2022-10-04 17:26:50,82.750000,282.250000,168.375000,13.737612,100.421881,9
2022-10-04 17:26:56,85.000000,283.000000,165.000000,13.730630,100.423040,9
2022-10-04 17:26:58,85.800000,282.933333,164.066667,13.728206,100.424203,9
2022-10-04 17:27:06,89.000000,282.666667,160.333333,13.718510,100.428853,9
2022-10-04 17:27:14,92.200000,282.400000,156.600000,13.708814,100.433504,9
2022-10-04 17:27:22,95.400000,282.133333,152.866667,13.699118,100.438155,9
2022-10-04 17:27:26,97.000000,282.000000,151.000000,13.694270,100.440480,9

In [20]:
res.reset_index(inplace=True)
res.rename(columns={'index':'timestamp'},inplace=True)
res

,timestamp,altitude,groundspeed,heading,latitude,longitude,segment
0,2022-10-04 17:23:06,7.000000,168.000000,209.000000,13.898920,100.597130,1
1,2022-10-04 17:23:14,9.000000,176.000000,209.000000,13.892865,100.593640,1
2,2022-10-04 17:23:22,11.000000,184.000000,209.000000,13.886810,100.590150,3
3,2022-10-04 17:23:30,14.000000,183.500000,209.000000,13.881155,100.586945,3
4,2022-10-04 17:23:38,17.000000,183.000000,209.000000,13.875500,100.583740,3
5,2022-10-04 17:23:46,19.000000,190.500000,228.000000,13.870680,100.578535,3
6,2022-10-04 17:23:54,21.000000,198.000000,247.000000,13.865860,100.573330,3
7,2022-10-04 17:24:02,22.500000,209.000000,253.000000,13.863930,100.565290,5
8,2022-10-04 17:24:10,24.000000,220.000000,259.000000,13.862000,100.557250,5
9,2022-10-04 17:24:18,25.739130,231.130435,257.608696,13.860073,100.548666,5
10,2022-10-04 17:24:26,27.478261,242.260870,256.217391,13.858146,100.540081,5
11,2022-10-04 17:24:33,29.000000,252.000000,255.000000,13.856460,100.532570,5
12,2022-10-04 17:24:34,29.222222,253.222222,254.888889,13.856101,100.531330,5
13,2022-10-04 17:24:42,31.000000,263.000000,254.000000,13.853225,100.521410,7
14,2022-10-04 17:24:50,32.777778,272.777778,253.111111,13.850349,100.511490,7
15,2022-10-04 17:24:51,33.000000,274.000000,253.000000,13.849990,100.510250,7
16,2022-10-04 17:24:58,35.666667,277.000000,249.333333,13.846730,100.501763,7
17,2022-10-04 17:25:06,38.714286,280.428571,245.142857,13.843004,100.492064,7
18,2022-10-04 17:25:12,41.000000,283.000000,242.000000,13.840210,100.484790,7
19,2022-10-04 17:25:14,41.888889,283.222222,240.222222,13.838531,100.482559,7
20,2022-10-04 17:25:22,45.444444,284.111111,233.111111,13.831816,100.473634,7
21,2022-10-04 17:25:30,49.000000,285.000000,226.000000,13.825100,100.464710,7
22,2022-10-04 17:25:38,52.500000,286.500000,226.000000,13.817645,100.456765,7
23,2022-10-04 17:25:46,56.000000,288.000000,226.000000,13.810190,100.448820,8
24,2022-10-04 17:25:54,59.500000,288.500000,225.500000,13.803225,100.441375,8
25,2022-10-04 17:26:02,63.000000,289.000000,225.000000,13.796260,100.433930,8
26,2022-10-04 17:26:10,66.600000,287.400000,213.400000,13.787344,100.428590,8
27,2022-10-04 17:26:18,70.200000,285.800000,201.800000,13.778428,100.423250,8
28,2022-10-04 17:26:22,72.000000,285.000000,196.000000,13.773970,100.420580,8
29,2022-10-04 17:26:26,73.555556,284.111111,191.111111,13.768477,100.420440,8
30,2022-10-04 17:26:34,76.666667,282.333333,181.333333,13.757490,100.420160,9
31,2022-10-04 17:26:40,79.000000,281.000000,174.000000,13.749250,100.419950,9
32,2022-10-04 17:26:42,79.750000,281.250000,172.875000,13.746923,100.420336,9
33,2022-10-04 17:26:50,82.750000,282.250000,168.375000,13.737612,100.421881,9
34,2022-10-04 17:26:56,85.000000,283.000000,165.000000,13.730630,100.423040,9
35,2022-10-04 17:26:58,85.800000,282.933333,164.066667,13.728206,100.424203,9
36,2022-10-04 17:27:06,89.000000,282.666667,160.333333,13.718510,100.428853,9
37,2022-10-04 17:27:14,92.200000,282.400000,156.600000,13.708814,100.433504,9
38,2022-10-04 17:27:22,95.400000,282.133333,152.866667,13.699118,100.438155,9
39,2022-10-04 17:27:26,97.000000,282.000000,151.000000,13.694270,100.440480,9

In [21]:
# res.to_csv('data/Sample_data2.csv')

# airborne

# final approach

In [22]:
# final approach
df_reverse_sample_data = df_sample_data.iloc[::-1]

for index, row in df_reverse_sample_data.iterrows():
    if ((row['altitude'] <= df_approach_step['Start Altitude(ft)']/100).iloc[0]):
        df_sample_data_reverse_final_approach = df_sample_data_reverse_final_approach.append(row)
    else:
        break
    
df_sample_data_final_approach = df_sample_data_reverse_final_approach.iloc[::-1]
df_sample_data_final_approach2 = df_sample_data_final_approach

In [23]:
i_departure = 0
df_sample_data_final_approach2["segment"] =0

for index, row in df_sample_data_final_approach2.iterrows():
    for i_departure in range(i_departure, len(df_approach_step)):
        if row.altitude *100 >= df_approach_step.loc[i_departure]['Start Altitude(ft)'] and row.groundspeed >= df_approach_step.loc[i_departure]['Start CAS (kt)']:
            break
        elif row.altitude * 100 >= df_approach_step.loc[i_departure]['Touchdown Roll (ft)']:
            break
        
    df_sample_data_final_approach2.loc[index,'segment']= i_departure
    
df_sample_data_final_approach2

C:\Users\Nopnpr\AppData\Local\Temp\ipykernel_19328\3739199243.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sample_data_final_approach2["segment"] =0
c:\Users\Nopnpr\anaconda3\envs\newenv\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,fa_flight_id,altitude,altitude_change,groundspeed,heading,latitude,longitude,timestamp,update_type,new_date,new_time,segment
288,TLM116-1664732580-schedule-0836,60,D,243,139,-5.88652,106.81243,2022-10-04 20:17:48+00:00,A,2022-10-04,20:17:48,2
289,TLM116-1664732580-schedule-0836,55,D,235,140,-5.91134,106.83418,2022-10-04 20:18:18+00:00,A,2022-10-04,20:18:18,2
290,TLM116-1664732580-schedule-0836,51,D,220,140,-5.93522,106.85412,2022-10-04 20:18:48+00:00,A,2022-10-04,20:18:48,2
291,TLM116-1664732580-schedule-0836,43,D,212,142,-5.95999,106.87405,2022-10-04 20:19:18+00:00,A,2022-10-04,20:19:18,2
292,TLM116-1664732580-schedule-0836,40,D,204,162,-5.97605,106.88367,2022-10-04 20:19:38+00:00,A,2022-10-04,20:19:38,2
293,TLM116-1664732580-schedule-0836,37,D,197,188,-5.99327,106.88490,2022-10-04 20:19:56+00:00,A,2022-10-04,20:19:56,2
294,TLM116-1664732580-schedule-0836,35,D,188,203,-6.01041,106.87888,2022-10-04 20:20:18+00:00,A,2022-10-04,20:20:18,2
295,TLM116-1664732580-schedule-0836,32,D,184,203,-6.03494,106.86856,2022-10-04 20:20:48+00:00,A,2022-10-04,20:20:48,3
296,TLM116-1664732580-schedule-0836,31,D,182,203,-6.04926,106.86266,2022-10-04 20:21:07+00:00,A,2022-10-04,20:21:07,3
297,TLM116-1664732580-schedule-0836,31,-,181,247,-6.05928,106.85247,2022-10-04 20:21:25+00:00,A,2022-10-04,20:21:25,3
298,TLM116-1664732580-schedule-0836,32,C,182,248,-6.06902,106.82788,2022-10-04 20:21:56+00:00,A,2022-10-04,20:21:56,3
299,TLM116-1664732580-schedule-0836,28,D,187,249,-6.07879,106.80373,2022-10-04 20:22:26+00:00,A,2022-10-04,20:22:26,6
300,TLM116-1664732580-schedule-0836,23,D,177,249,-6.08833,106.77953,2022-10-04 20:22:56+00:00,A,2022-10-04,20:22:56,6
301,TLM116-1664732580-schedule-0836,19,D,160,249,-6.09704,106.75780,2022-10-04 20:23:26+00:00,A,2022-10-04,20:23:26,6
302,TLM116-1664732580-schedule-0836,15,D,148,248,-6.10491,106.73810,2022-10-04 20:23:56+00:00,A,2022-10-04,20:23:56,6
303,TLM116-1664732580-schedule-0836,12,D,147,248,-6.10982,106.72575,2022-10-04 20:24:15+00:00,X,2022-10-04,20:24:15,6
304,TLM116-1664732580-schedule-0836,4,D,144,248,-6.12566,106.68590,2022-10-04 20:25:19+00:00,A,2022-10-04,20:25:19,6
305,TLM116-1664732580-schedule-0836,2,D,149,248,-6.12973,106.67585,2022-10-04 20:25:37+00:00,A,2022-10-04,20:25:37,8
306,TLM116-1664732580-schedule-0836,2,D,133,248,-6.13431,106.66440,2022-10-04 20:25:54+00:00,A,2022-10-04,20:25:54,8

# interpolate

In [24]:
nidx =np.arange(df_sample_data_initial2['timestamp'][0], df_sample_data_initial2['timestamp'].iloc[-1], 8000000 )
nidx

KeyError: 'timestamp'

In [ ]:
nidx = pd.to_datetime(nidx)
type(nidx)

In [ ]:
df_sample_data_initial2['timestamp'] = df_sample_data_initial2['timestamp'].round('S').dt.tz_localize(None)
df_sample_data_initial2
# df_sample_data_initial2['timestamp'].loc[1]

In [ ]:
df_sample_data_initial2['timestamp'].dtypes

In [ ]:
# df_sample_data_initial2['timestamp'].astype('object')
df_sample_data_initial2.set_index('timestamp', inplace=True)
df_sample_data_initial2.head()

In [ ]:
df_sample_data_initial2.index.union(nidx)

In [ ]:
res = df_sample_data_initial2.reindex(df_sample_data_initial2.index.union(nidx))
res

In [ ]:
res = res[['altitude', 'groundspeed', 'heading', 'latitude', 'longitude','segment']]

In [ ]:
res.dtypes

In [ ]:
res['altitude'] = pd.to_numeric(res['altitude'])
res['groundspeed'] = pd.to_numeric(res['groundspeed'])
res['heading'] = pd.to_numeric(res['heading'])

In [ ]:
res

In [ ]:
res.dtypes

In [ ]:
res.head()

In [ ]:
res = res.interpolate(method='time',limit_direction='both',limit=10)
res

In [ ]:
res.isna().sum()

In [ ]:
# res.to_csv('data/Sample_data2.csv')

In [ ]:
res